# Importing the required libraries

In [128]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing the dataset

In [129]:
traindf1 = pd.read_csv('Train_Claim.csv')
traindf2 = pd.read_csv('Train_Demographics.csv')
traindf3 = pd.read_csv('Train_Policy.csv')
traindf4 = pd.read_csv('Train_Vehicle.csv')
traindf5 = pd.read_csv('Traindata_with_Target.csv')

In [130]:
traindf1

,CustomerID,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,NumberOfVehicles,PropertyDamage,BodilyInjuries,Witnesses,PoliceReport,AmountOfTotalClaim,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage
0,Cust10000,2015-02-03,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City1,Location 1311,17,3,?,1,0,?,65501,13417,6071,46013
1,Cust10001,2015-02-02,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City5,Location 1311,10,3,YES,2,1,YES,61382,15560,5919,39903
2,Cust10002,2015-01-15,Single Vehicle Collision,Side Collision,Minor Damage,Other,State8,City6,Location 2081,22,1,YES,2,3,NO,66755,11630,11630,43495
3,Cust10003,2015-01-19,Single Vehicle Collision,Side Collision,Minor Damage,Other,State9,City6,Location 2081,22,1,YES,2,3,NO,66243,12003,12003,42237
4,Cust10004,2015-01-09,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State8,City6,Location 1695,10,1,NO,2,1,YES,53544,8829,7234,37481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28831,Cust9993,2015-01-24,Vehicle Theft,?,Trivial Damage,Police,State9,City4,Location 1890,3,1,NO,0,3,?,6590,870,1078,4642
28832,Cust9994,2015-02-09,Single Vehicle Collision,Front Collision,Minor Damage,Fire,State8,City3,Location 2097,17,1,YES,0,2,YES,74547,14699,7875,51973
28833,Cust9996,2015-01-28,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State9,City7,Location 1452,1,1,YES,2,0,YES,55305,7043,7043,41219
28834,Cust9997,2015-01-28,Single Vehicle Collision,Rear Collision,Minor Damage,Ambulance,State9,City3,Location 1876,1,1,?,2,0,YES,55830,7059,7059,41712
28835,Cust9999,2015-01-13,Single Vehicle Collision,Front Collision,Total Loss,Other,State8,City3,Location 1874,9,1,NO,1,3,YES,68969,12075,6038,50856

In [131]:
traindf1.head()
traindf1.shape

(28836, 19)

In [132]:
traindf1.isnull().sum()

CustomerID               0
DateOfIncident           0
TypeOfIncident           0
TypeOfCollission         0
SeverityOfIncident       0
AuthoritiesContacted     0
IncidentState            0
IncidentCity             0
IncidentAddress          0
IncidentTime             0
NumberOfVehicles         0
PropertyDamage           0
BodilyInjuries           0
Witnesses                0
PoliceReport             0
AmountOfTotalClaim       0
AmountOfInjuryClaim      0
AmountOfPropertyClaim    0
AmountOfVehicleDamage    0
dtype: int64

In [133]:
traindf2.head()
traindf2.shape

(28836, 10)

In [157]:
traindf2.isnull().sum()

CustomerID                0
InsuredAge                0
InsuredZipCode            0
InsuredGender            30
InsuredEducationLevel     0
InsuredOccupation         0
InsuredHobbies            0
CapitalGains              0
CapitalLoss               0
Country                   2
dtype: int64

In [134]:
traindf3.head()
traindf3.shape

(28836, 10)

In [158]:
traindf3.isnull().sum()

InsurancePolicyNumber         0
CustomerLoyaltyPeriod         0
DateOfPolicyCoverage          0
InsurancePolicyState          0
Policy_CombinedSingleLimit    0
Policy_Deductible             0
PolicyAnnualPremium           0
UmbrellaLimit                 0
InsuredRelationship           0
CustomerID                    0
dtype: int64

In [135]:
traindf4.head()
traindf4.shape

(115344, 3)

In [161]:
traindf5.isnull().sum()

CustomerID       0
ReportedFraud    0
dtype: int64

In [136]:
traindf5.head()
traindf5.shape

(28836, 2)

## merging the train data

In [137]:
# Merge the first two datasets on a common column
merged_df = pd.merge(traindf1, traindf2, on='CustomerID',how = 'inner')

# Merge the third dataset with the merged dataset on a common column
merged_df = pd.merge(merged_df, traindf3, on='CustomerID' , how = 'inner')

# Merge the fourth dataset with the merged dataset on a common column
merged_df = pd.merge(merged_df, traindf4, on='CustomerID', how = 'inner')

# Merge the fifth dataset with the merged dataset on a common column
merged_df = pd.merge(merged_df, traindf5, on='CustomerID', how ='inner')

In [138]:
merged_df

,CustomerID,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,...,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,InsuredRelationship,VehicleAttribute,VehicleAttributeDetails,ReportedFraud
0,Cust10000,2015-02-03,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City1,Location 1311,17,...,1998-10-25,State1,100/300,1000,1632.73,0,not-in-family,VehicleID,Vehicle26917,N
1,Cust10000,2015-02-03,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City1,Location 1311,17,...,1998-10-25,State1,100/300,1000,1632.73,0,not-in-family,VehicleModel,A5,N
2,Cust10000,2015-02-03,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City1,Location 1311,17,...,1998-10-25,State1,100/300,1000,1632.73,0,not-in-family,VehicleYOM,2008,N
3,Cust10000,2015-02-03,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City1,Location 1311,17,...,1998-10-25,State1,100/300,1000,1632.73,0,not-in-family,VehicleMake,Audi,N
4,Cust10001,2015-02-02,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City5,Location 1311,10,...,2000-11-15,State1,100/300,1000,1255.19,0,not-in-family,VehicleYOM,2006,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115339,Cust9997,2015-01-28,Single Vehicle Collision,Rear Collision,Minor Damage,Ambulance,State9,City3,Location 1876,1,...,1998-08-10,State3,250/500,780,1389.29,3364301,not-in-family,VehicleYOM,2004,N
115340,Cust9999,2015-01-13,Single Vehicle Collision,Front Collision,Total Loss,Other,State8,City3,Location 1874,9,...,2003-04-12,State2,500/1000,2000,928.43,2909175,husband,VehicleModel,E400,N
115341,Cust9999,2015-01-13,Single Vehicle Collision,Front Collision,Total Loss,Other,State8,City3,Location 1874,9,...,2003-04-12,State2,500/1000,2000,928.43,2909175,husband,VehicleID,Vehicle39163,N
115342,Cust9999,2015-01-13,Single Vehicle Collision,Front Collision,Total Loss,Other,State8,City3,Location 1874,9,...,2003-04-12,State2,500/1000,2000,928.43,2909175,husband,VehicleMake,Suburu,N
115343,Cust9999,2015-01-13,Single Vehicle Collision,Front Collision,Total Loss,Other,State8,City3,Location 1874,9,...,2003-04-12,State2,500/1000,2000,928.43,2909175,husband,VehicleYOM,2007,N

# here the target column is ReportedFraud

In [139]:
merged_df.shape

(115344, 40)

In [140]:
merged_df.dtypes

CustomerID                     object
DateOfIncident                 object
TypeOfIncident                 object
TypeOfCollission               object
SeverityOfIncident             object
AuthoritiesContacted           object
IncidentState                  object
IncidentCity                   object
IncidentAddress                object
IncidentTime                    int64
NumberOfVehicles                int64
PropertyDamage                 object
BodilyInjuries                  int64
Witnesses                      object
PoliceReport                   object
AmountOfTotalClaim             object
AmountOfInjuryClaim             int64
AmountOfPropertyClaim           int64
AmountOfVehicleDamage           int64
InsuredAge                      int64
InsuredZipCode                  int64
InsuredGender                  object
InsuredEducationLevel          object
InsuredOccupation              object
InsuredHobbies                 object
CapitalGains                    int64
CapitalLoss                     int64
Country                        object
InsurancePolicyNumber           int64
CustomerLoyaltyPeriod           int64
DateOfPolicyCoverage           object
InsurancePolicyState           object
Policy_CombinedSingleLimit     object
Policy_Deductible               int64
PolicyAnnualPremium           float64
UmbrellaLimit                   int64
InsuredRelationship            object
VehicleAttribute               object
VehicleAttributeDetails        object
ReportedFraud                  object
dtype: object

In [141]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115344 entries, 0 to 115343
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   CustomerID                  115344 non-null  object
 1   DateOfIncident              115344 non-null  object
 2   TypeOfIncident              115344 non-null  object
 3   TypeOfCollission            115344 non-null  object
 4   SeverityOfIncident          115344 non-null  object
 5   AuthoritiesContacted        115344 non-null  object
 6   IncidentState               115344 non-null  object
 7   IncidentCity                115344 non-null  object
 8   IncidentAddress             115344 non-null  object
 9   IncidentTime                115344 non-null  int64
 10  NumberOfVehicles            115344 non-null  int64
 11  PropertyDamage              115344 non-null  object
 12  BodilyInjuries              115344 non-null  int64
 13  Witnesses                   115344 non-null  object
 14  PoliceReport                115344 non-null  object
 15  AmountOfTotalClaim          115344 non-null  object
 16  AmountOfInjuryClaim         115344 non-null  int64
 17  AmountOfPropertyClaim       115344 non-null  int64
 18  AmountOfVehicleDamage       115344 non-null  int64
 19  InsuredAge                  115344 non-null  int64
 20  InsuredZipCode              115344 non-null  int64
 21  InsuredGender               115224 non-null  object
 22  InsuredEducationLevel       115344 non-null  object
 23  InsuredOccupation           115344 non-null  object
 24  InsuredHobbies              115344 non-null  object
 25  CapitalGains                115344 non-null  int64
 26  CapitalLoss                 115344 non-null  int64
 27  Country                     115336 non-null  object
 28  InsurancePolicyNumber       115344 non-null  int64
 29  CustomerLoyaltyPeriod       115344 non-null  int64
 30  DateOfPolicyCoverage        115344 non-null  object
 31  InsurancePolicyState        115344 non-null  object
 32  Policy_CombinedSingleLimit  115344 non-null  object
 33  Policy_Deductible           115344 non-null  int64
 34  PolicyAnnualPremium         115344 non-null  float64
 35  UmbrellaLimit               115344 non-null  int64
 36  InsuredRelationship         115344 non-null  object
 37  VehicleAttribute            115344 non-null  object
 38  VehicleAttributeDetails     115344 non-null  object
 39  ReportedFraud               115344 non-null  object
dtypes: float64(1), int64(14), object(25)
memory usage: 36.1+ MB

In [142]:
merged_df.describe()

,IncidentTime,NumberOfVehicles,BodilyInjuries,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,InsuredAge,InsuredZipCode,CapitalGains,CapitalLoss,InsurancePolicyNumber,CustomerLoyaltyPeriod,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit
count,115344.000000,115344.000000,115344.000000,115344.000000,115344.000000,115344.000000,115344.000000,115344.000000,115344.000000,115344.000000,115344.000000,115344.000000,115344.000000,115344.000000,1.153440e+05
mean,11.746047,1.823207,0.985782,7337.118428,7283.870197,37687.129387,38.815370,502436.579068,23066.569566,-24940.612429,129312.517097,203.067867,1114.282529,1255.528382,9.836680e+05
std,6.169989,0.980086,0.784754,4427.581013,4375.785831,17976.814444,7.996273,72249.929265,27637.454301,27912.846603,11113.915731,99.931652,546.625707,223.010999,1.969256e+06
min,-5.000000,1.000000,0.000000,0.000000,0.000000,109.000000,19.000000,430104.000000,0.000000,-111100.000000,110122.000000,1.000000,500.000000,-1.000000,-1.000000e+06
25%,6.000000,1.000000,0.000000,4743.750000,4862.000000,32193.250000,33.000000,448603.000000,0.000000,-50000.000000,119698.750000,126.000000,622.000000,1122.007500,0.000000e+00
50%,12.000000,1.000000,1.000000,7147.000000,7051.000000,42457.500000,38.000000,466691.000000,0.000000,0.000000,129278.500000,199.000000,1000.000000,1265.205000,0.000000e+00
75%,17.000000,3.000000,2.000000,10571.250000,10327.000000,49535.750000,44.000000,603848.000000,49000.000000,0.000000,138933.250000,267.000000,1627.000000,1396.605000,4.859610e+05
max,23.000000,4.000000,2.000000,21450.000000,23670.000000,79560.000000,64.000000,620962.000000,100500.000000,0.000000,148619.000000,479.000000,2000.000000,2047.590000,1.000000e+07

In [143]:
merged_df.drop_duplicates(inplace=True)

In [144]:
merged_df.isnull().sum()

CustomerID                      0
DateOfIncident                  0
TypeOfIncident                  0
TypeOfCollission                0
SeverityOfIncident              0
AuthoritiesContacted            0
IncidentState                   0
IncidentCity                    0
IncidentAddress                 0
IncidentTime                    0
NumberOfVehicles                0
PropertyDamage                  0
BodilyInjuries                  0
Witnesses                       0
PoliceReport                    0
AmountOfTotalClaim              0
AmountOfInjuryClaim             0
AmountOfPropertyClaim           0
AmountOfVehicleDamage           0
InsuredAge                      0
InsuredZipCode                  0
InsuredGender                 120
InsuredEducationLevel           0
InsuredOccupation               0
InsuredHobbies                  0
CapitalGains                    0
CapitalLoss                     0
Country                         8
InsurancePolicyNumber           0
CustomerLoyaltyPeriod           0
DateOfPolicyCoverage            0
InsurancePolicyState            0
Policy_CombinedSingleLimit      0
Policy_Deductible               0
PolicyAnnualPremium             0
UmbrellaLimit                   0
InsuredRelationship             0
VehicleAttribute                0
VehicleAttributeDetails         0
ReportedFraud                   0
dtype: int64

In [166]:
merged_df.InsuredGender

0           MALE
1           MALE
2           MALE
3           MALE
4           MALE
           ...
115339      MALE
115340    FEMALE
115341    FEMALE
115342    FEMALE
115343    FEMALE
Name: InsuredGender, Length: 115344, dtype: object

In [145]:
for column in merged_df.columns:
    print(column, merged_df[column][merged_df[column] == '?'].count())

CustomerID 0
DateOfIncident 0
TypeOfIncident 0
TypeOfCollission 20648
SeverityOfIncident 0
AuthoritiesContacted 0
IncidentState 0
IncidentCity 0
IncidentAddress 0
IncidentTime 0
NumberOfVehicles 0
PropertyDamage 41836
BodilyInjuries 0
Witnesses 0
PoliceReport 39220
AmountOfTotalClaim 0
AmountOfInjuryClaim 0
AmountOfPropertyClaim 0
AmountOfVehicleDamage 0
InsuredAge 0
InsuredZipCode 0
InsuredGender 0
InsuredEducationLevel 0
InsuredOccupation 0
InsuredHobbies 0
CapitalGains 0
CapitalLoss 0
Country 0
InsurancePolicyNumber 0
CustomerLoyaltyPeriod 0
DateOfPolicyCoverage 0
InsurancePolicyState 0
Policy_CombinedSingleLimit 0
Policy_Deductible 0
PolicyAnnualPremium 0
UmbrellaLimit 0
InsuredRelationship 0
VehicleAttribute 0
VehicleAttributeDetails 0
ReportedFraud 0

In [146]:
merged_df.fillna(0, inplace=True)

In [167]:
merged_df.isnull().sum()

CustomerID                    0
DateOfIncident                0
TypeOfIncident                0
TypeOfCollission              0
SeverityOfIncident            0
AuthoritiesContacted          0
IncidentState                 0
IncidentCity                  0
IncidentAddress               0
IncidentTime                  0
NumberOfVehicles              0
PropertyDamage                0
BodilyInjuries                0
Witnesses                     0
PoliceReport                  0
AmountOfTotalClaim            0
AmountOfInjuryClaim           0
AmountOfPropertyClaim         0
AmountOfVehicleDamage         0
InsuredAge                    0
InsuredZipCode                0
InsuredGender                 0
InsuredEducationLevel         0
InsuredOccupation             0
InsuredHobbies                0
CapitalGains                  0
CapitalLoss                   0
Country                       0
InsurancePolicyNumber         0
CustomerLoyaltyPeriod         0
DateOfPolicyCoverage          0
InsurancePolicyState          0
Policy_CombinedSingleLimit    0
Policy_Deductible             0
PolicyAnnualPremium           0
UmbrellaLimit                 0
InsuredRelationship           0
VehicleAttribute              0
VehicleAttributeDetails       0
ReportedFraud                 0
dtype: int64

In [147]:
print(merged_df.ReportedFraud.value_counts())

N    84204
Y    31140
Name: ReportedFraud, dtype: int64

## loading the test data

In [148]:
testdf1 = pd.read_csv('Test.csv')
testdf2 = pd.read_csv('Test_Claim.csv')
testdf3 = pd.read_csv('Test_Demographics.csv')
testdf4 = pd.read_csv('Test_Policy.csv')
testdf5 = pd.read_csv('Test_Vehicle.csv')

In [149]:
testdf1.head()

  CustomerID
0  Cust10008
1  Cust10010
2  Cust10015
3  Cust10020
4   Cust1003

In [150]:
testdf1.shape

(8912, 1)

In [151]:
testdf2.shape

(8912, 19)

In [152]:
testdf3.shape

(8912, 10)

In [153]:
testdf4.shape

(8912, 10)

In [154]:
testdf5.shape

(35648, 3)

## Merging the test data

In [155]:
# Merge the first two datasets on a common column
merged_test_df = pd.merge(testdf1, testdf2, on='CustomerID')

# Merge the third dataset with the merged dataset on a common column
merged_test_df = pd.merge(merged_test_df, testdf3, on='CustomerID')

# Merge the fourth dataset with the merged dataset on a common column
merged_test_df = pd.merge(merged_test_df, testdf4, on='CustomerID')

# Merge the fifth dataset with the merged dataset on a common column
merged_test_df = pd.merge(merged_test_df, testdf5, on='CustomerID')

In [156]:
merged_test_df.head()

,CustomerID,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,...,CustomerLoyaltyPeriod,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,InsuredRelationship,VehicleAttribute,VehicleAttributeDetails
0,Cust10008,2015-02-05,Multi-vehicle Collision,Front Collision,Minor Damage,Ambulance,State5,City2,Location 1354,4,...,84,1998-05-10,State2,500/1000,2000,1006.00,0,own-child,VehicleYOM,1995
1,Cust10008,2015-02-05,Multi-vehicle Collision,Front Collision,Minor Damage,Ambulance,State5,City2,Location 1354,4,...,84,1998-05-10,State2,500/1000,2000,1006.00,0,own-child,VehicleModel,Passat
2,Cust10008,2015-02-05,Multi-vehicle Collision,Front Collision,Minor Damage,Ambulance,State5,City2,Location 1354,4,...,84,1998-05-10,State2,500/1000,2000,1006.00,0,own-child,VehicleID,Vehicle34362
3,Cust10008,2015-02-05,Multi-vehicle Collision,Front Collision,Minor Damage,Ambulance,State5,City2,Location 1354,4,...,84,1998-05-10,State2,500/1000,2000,1006.00,0,own-child,VehicleMake,Volkswagen
4,Cust10010,2015-01-13,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State9,City5,Location 1383,16,...,232,2011-11-10,State3,100/300,500,1279.17,0,unmarried,VehicleYOM,2006

In [162]:
merged_test_df.shape

(35648, 39)

In [163]:
merged_test_df.isnull().sum()

CustomerID                     0
DateOfIncident                 0
TypeOfIncident                 0
TypeOfCollission               0
SeverityOfIncident             0
AuthoritiesContacted           0
IncidentState                  0
IncidentCity                   0
IncidentAddress                0
IncidentTime                   0
NumberOfVehicles               0
PropertyDamage                 0
BodilyInjuries                 0
Witnesses                      0
PoliceReport                   0
AmountOfTotalClaim             0
AmountOfInjuryClaim            0
AmountOfPropertyClaim          0
AmountOfVehicleDamage          0
InsuredAge                     0
InsuredZipCode                 0
InsuredGender                 32
InsuredEducationLevel          0
InsuredOccupation              0
InsuredHobbies                 0
CapitalGains                   0
CapitalLoss                    0
Country                       16
InsurancePolicyNumber          0
CustomerLoyaltyPeriod          0
DateOfPolicyCoverage           0
InsurancePolicyState           0
Policy_CombinedSingleLimit     0
Policy_Deductible              0
PolicyAnnualPremium            0
UmbrellaLimit                  0
InsuredRelationship            0
VehicleAttribute               0
VehicleAttributeDetails        0
dtype: int64

In [164]:
merged_test_df.InsuredGender

0        FEMALE
1        FEMALE
2        FEMALE
3        FEMALE
4        FEMALE
          ...
35643      MALE
35644      MALE
35645      MALE
35646      MALE
35647      MALE
Name: InsuredGender, Length: 35648, dtype: object